<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Área</h1>

    <p><a href="{% url 'cadastrar_area' %}">Cadastrar</a></p>

    <h3>Listagem de Áreas</h3>
    {% for area in todos_area %}
    <p>Nome: {{area.nome}}</p>
    {% empty %}
    <p>Não existem áreas cadastradas</p>
    {% endfor %}
</body>
</html>