<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/externo.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="">OPORTUNIDADES</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'login' %}">Login <span class="sr-only">(atual)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'registro' %}">Cadastre-se <span class="sr-only">(atual)</span></a>
            </li>
          </ul>
        </div>
      </nav>
    
    {% block conteudo %}
    {% endblock %}

<footer class="text-muted py-5">
    <div class="container">
      <p class="mb-1">Oportunidades&copy; IFRN - Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte</p>
      <p class="float-end mb-1">
        <a href="#">Voltar ao topo</a>
      </p>
      <p class="mb-0">Conheça a Instituição <a href="https://www.instagram.com/ifrnoficial//">instagram</a> or  <a href="https://portal.ifrn.edu.br/">site</a>.</p>
    </div>
  </footer>
  
  
      <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>