<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="">OPORTUNIDADES</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Página Inicial <span class="sr-only">(atual)</span></a>
            </li>
          </ul>
        </div>
      </nav>  

    <h1>Cadastrar Campus</h1>
    <form method="post">
        {% csrf_token %}
        {{ form_campus }}
        <p><input type="submit" value="Cadastrar" /></p>   
    </form>
</body>
</html>

