<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Campus</h1>
    <p><a href="{% url 'cadastrar_campus' %}">Cadastrar</a></p>
    
    <h3>Listagem de Campi</h3>

    {% for campus in todos_campus %}

    <p>Nome: {{campus.nome}}</p>
    | <a href="{% url 'editar_campus' campus.id %}">EDITAR</a>
    | <a href="{% url 'remover_campus' campus.id %}">REMOVER</a>

    {% empty %}
    <p>Não existem campi cadastrados</p>
    {% endfor %}

</body>
</html>