<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Document</title>
    <style>
    h1{
      text-align: center;
      margin-top: 50px;
    }
    input{
      color: green;
    }
   
    form{
      margin-left: 20px;
    }
 
    </style>

</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="">OPORTUNIDADES</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'perfil' %}">Perfil <span class="sr-only">(atual)</span></a> 
            </li>
          </ul>
        </div>
      </nav> 

      
    
    <p></p><a href="{% url 'perfil' %}"> Perfil</a></p>

    <h1>Cadastrar Oportunidades</h1>
<br/>

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <p>{{form.titulo.label}}: {{form.titulo}}</p>
    <p>{{form.anexo.label}}: {{form.anexo}}</p>
    <p>{{form.area.label}}: {{form.area}}</p>
    <p>{{form.campus.label}}: {{form.campus}}</p>
    <p>{{form.tipo.label}}: {{form.tipo}}</p>
    <p>{{form.publicos.label}}: {{form.publicos}}</p>

    <p><input type="submit" value="Cadastrar" /></p>  

</body>
</html>
