<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Oportunidades</h1>

    <p></p><a href="{% url 'perfil' %}"> Voltar ao Perfil</a></p>
    <p><a href="{% url 'cadastrar_oportunidade' %}">Cadastrar Nova Oportunidade</a></p> 

    <h3>Minhas Oportunidades</h3>

    {% for oportunidades in todos_oportunidades %}

    <div>
    <p>Título: {{oportunidades.titulo}}</p>
    <p>Anexo: {{oportunidades.anexo}}</p>
    <p>Área:{{oportunidades.area}}</p>
    <p>Campus:{{oportunidades.campus}}</p>
    <p>Tipo:{{oportunidades.tipo}}</p>
    {% for oportunidade in oportunidades.publicos.all %}
    <p>{{oportunidade.nome}}</p>
    {% endfor %}
    </div>

    | <a href="{% url 'editar_oportunidade' oportunidades.id %}">EDITAR</a>
    | <a href="{% url 'remover_oportunidade' oportunidades.id %}">REMOVER</a>

    {% empty %}
    <p>Não existem oportunidades cadastradas</p>
</body>
</html>