<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p></p><a href="{% url 'home' %}"> Página Inicial</a></p>

    <h1>Página de Perfil</h1>

    <h3>Bem vindo ao seu perfil {{  user.username }}!</h3>

    <p><a href="{% url 'dados' user.id %}">Dados Pessoais</a></p>

    <p></p><a href="{% url 'cadastrar_oportunidade' %}"> Cadastrar Oportunidades</a></p>

    <p><a href="{% url 'home' %}">Sair</a></p>

</body>
</html>