<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Público</h1>
    <p><a href="{% url 'cadastrar_publico' %}">Cadastrar</a></p>
    <h3>Listagem de Público</h3>
    {% for publico in todos_publico %}
    <p>Nome: {{publico.nome}}</p>
    {% empty %}
    <p>Não existem públicos cadastrados</p>
    {% endfor %}

</body>
</html>