<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário</title>
    
</head>
<body>

    <p></p><a href="{% url 'home' %}"> Página Inicial</a></p>

    <h1>Cadastro Servidor</h1>
    <form method="post">
        {% csrf_token %}
        <p>Usuario: {{form.username}}</p>
        <p>CPF: {{form.cpf}}</p>
        <p>E-mail: {{form.email}}</p>
        <p>Matrícula: {{form.matricula}}</p>
        <p>Setor: {{form.setor}}</p>
        <p>Senha: {{form.password1}}</p>
        <p>Repetir Senha: {{form.password2}}</p>


        <input type="submit" value="Cadastrar">
        </form>

        <p>Já tem conta? Faça <a href="{% url 'login' %}">Login</a></p>

</body>
</html>