<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Document</title>
    <style>
        .form-control {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        
    }
    h1{
      text-align: center;
      margin-top: 80px;
    }
    button{
      color: green;
    }
 
    </style>
    
</head>
<body>

    <p></p><a href="{% url 'home' %}"> Página Inicial</a></p>

    <h1>Cadastro Servidor</h1>
    <form method="post">
        {% csrf_token %}
        <p>Usuario: {{form.username}}</p>
        <p>CPF: {{form.cpf}}</p>
        <p>E-mail: {{form.email}}</p>
        <p>Matrícula: {{form.matricula}}</p>
        <p>Setor: {{form.setor}}</p>
        <p>Senha: {{form.password1}}</p>
        <p>Repetir Senha: {{form.password2}}</p>


        <input type="submit" value="Cadastrar">
        </form>

        <p>Já tem conta? Faça <a href="{% url 'login' %}">Login</a></p>

</body>
</html>