<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tipo</h1>
    <p><a href="{% url 'cadastrar_tipo' %}">Cadastrar</a></p>
    <p>Listagem de Tipo</p>
    {% for tipo in todos_tipo %}
    <p>Nome: {{tipo.nome}}</p>
    {% empty %}
    <p>Não existem tipos cadastrados</p>
    {% endfor %}

</body>
</html>